{% block content %}
{% load feed_extras %}


<div class="card border-secondary">
  <div class="card-header">
    Demande de critique
  </div>
  <div class="card-body">
    {% if ticket.photo.image %}
    <img src=" {{ ticket.photo.image.url }} " class="card-img-top mb-2" style="max-width: 10rem; max-height: 15rem" alt="...">
    {% else %}
    <div class="bg-secondary rounded" style="width: 100%; height: 15rem"></div>
    {% endif %}
    <h5 class="card-title border-bottom pb-2"> {{ ticket.title }} </h5>
    <p class="card-text"> {{ ticket.description }} </p>

    <div class="card-footer text-muted mb-2">
      {% get_posted_at_display ticket.time_created %} par
      <b>
        {% if ticket.user == request.user %}
          moi
        {% else %}
          {{ ticket.user}}
        {% endif %}
      </b>
    </div>


    <div class="d-flex justify-content-center">
      {% if not ticket.get_review %}
        <a href="{% url 'review-add-from-ticket' ticket.id %}" class="btn btn-secondary mx-2">Répondre</a>
      {% endif %}
      {% if ticket.user == request.user %}
        <a href="{% url 'ticket-update' ticket.id %}" class="btn btn-secondary mx-2">Modifier</a>
        <a href="{% url 'ticket-delete' ticket.id %}" class="btn btn-secondary mx-2">Supprimer</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
