{% extends 'feed/base.html' %}
{% block content %}

    <h2>Suivre des utilisateurs</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary" >Ajouter</button>
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
    </form>
    <h2>Mes utilisateurs suivis</h2>
    {% if following %}
      <div class="container-flex">


          {% for instance in following %}
          <div class="row">
              <div class="col-md-8 border border-secondary">
                {{instance.followed_user.username}}
              </div>
              <div class="col-md-4">
              <a href="{% url 'follow-delete' instance.id %}" class="btn btn-secondary">Supprimer</a>
              </div>
          </div>
          {% endfor %}


      </div>
    {% else %}
      Vous ne suivez personne actuellement
    {% endif %}
    <h2>Les utilisateurs qui me suivent</h2>
    {% if followers %}
      <ul>
        {% for instance in followers %}
          <li> {{instance.user.username}}
        {% endfor %}
      </ul>
    {% else %}
      Personne ne vous suit actuellement
    {% endif %}
{% endblock content %}
